<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="card">
      <h2 data-cy="cardDetailsHeading"><span jhiTranslate="testProjectApp.card.detail.title">Card</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ card.id }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.card.name">Name</span></dt>
        <dd>
          <span>{{ card.name }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.card.title">Title</span></dt>
        <dd>
          <span>{{ card.title }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.card.date">Date</span></dt>
        <dd>
          <span>{{ card.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.card.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testProjectApp.CustomerType.' + card.type }}">{{ card.type }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.card.dog">Dog</span></dt>
        <dd>
          <div *ngIf="card.dog">
            <a [routerLink]="['/dog', card.dog?.id, 'view']">{{ card.dog?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
