<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-author-heading" data-cy="AuthorCreateUpdateHeading" jhiTranslate="testprojectApp.author.home.createOrEditLabel">
        Create or edit a Author
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testprojectApp.author.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testprojectApp.author.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testprojectApp.author.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testprojectApp.author.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'testprojectApp.AddressType.null' | translate }}</option>
            <option value="DEFAULT">{{ 'testprojectApp.AddressType.DEFAULT' | translate }}</option>
            <option value="HOME">{{ 'testprojectApp.AddressType.HOME' | translate }}</option>
            <option value="BUSINESS">{{ 'testprojectApp.AddressType.BUSINESS' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testprojectApp.author.dog" for="field_dog">Dog</label>
          <select class="form-control" id="field_dog" data-cy="dog" name="dog" formControlName="dog">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dogOption.id === editForm.get('dog')!.value?.id ? editForm.get('dog')!.value : dogOption"
              *ngFor="let dogOption of dogsCollection; trackBy: trackDogById"
            >
              {{ dogOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="testprojectApp.author.echo" for="field_echoes">Echo</label>
          <select class="form-control" id="field_echoes" data-cy="echo" multiple name="echoes" formControlName="echoes">
            <option
              [ngValue]="getSelectedEcho(echoOption, editForm.get('echoes')!.value)"
              *ngFor="let echoOption of echoesSharedCollection; trackBy: trackEchoById"
            >
              {{ echoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
