<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dog">
      <h2 data-cy="dogDetailsHeading"><span jhiTranslate="testProjectApp.dog.detail.title">Dog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dog.id }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.dog.name">Name</span></dt>
        <dd>
          <span>{{ dog.name }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.dog.description">Description</span></dt>
        <dd>
          <span>{{ dog.description }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.dog.created">Created</span></dt>
        <dd>
          <span>{{ dog.created | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="testProjectApp.dog.actor">Actor</span></dt>
        <dd>
          <div *ngIf="dog.actor">
            <a [routerLink]="['/actor', dog.actor?.id, 'view']">{{ dog.actor?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dog', dog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
