<div>
  <h2 id="page-heading" data-cy="CardHeading">
    <span jhiTranslate="testProjectApp.card.home.title">Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="testProjectApp.card.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card"
        [routerLink]="['/card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="testProjectApp.card.home.createLabel"> Create a new Card </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'testProjectApp.card.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="cards?.length === 0">
    <span jhiTranslate="testProjectApp.card.home.notFound">No cards found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cards && cards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="testProjectApp.card.name">Name</span></th>
          <th scope="col"><span jhiTranslate="testProjectApp.card.title">Title</span></th>
          <th scope="col"><span jhiTranslate="testProjectApp.card.date">Date</span></th>
          <th scope="col"><span jhiTranslate="testProjectApp.card.type">Type</span></th>
          <th scope="col"><span jhiTranslate="testProjectApp.card.dog">Dog</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a>
          </td>
          <td>{{ card.name }}</td>
          <td>{{ card.title }}</td>
          <td>{{ card.date | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'testProjectApp.CustomerType.' + card.type }}">{{ card.type }}</td>
          <td>
            <div *ngIf="card.dog">
              <a [routerLink]="['/dog', card.dog?.id, 'view']">{{ card.dog?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/card', card.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(card)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
