<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="echo">
      <h2 data-cy="echoDetailsHeading"><span jhiTranslate="testprojectApp.echo.detail.title">Echo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ echo.id }}</span>
        </dd>
        <dt><span jhiTranslate="testprojectApp.echo.name">Name</span></dt>
        <dd>
          <span>{{ echo.name }}</span>
        </dd>
        <dt><span jhiTranslate="testprojectApp.echo.description">Description</span></dt>
        <dd>
          <span>{{ echo.description }}</span>
        </dd>
        <dt><span jhiTranslate="testprojectApp.echo.created">Created</span></dt>
        <dd>
          <span>{{ echo.created | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/echo', echo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
